/* CSS Horiseon Website */

/* CSS reset */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;    
}

/* Body background color */
body {
    background-color: #d9dcd6;
}

/* 
Header styles
*/

/* Header Element attributes */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}
/* Header section styles */
.header section {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
/* Header section unordered list attributes */
.header section ul {
    list-style-type: none;
}
/* Header section unordered list link attributes */
.header section ul li {
    display: inline-block;
    margin-left: 25px;
}

/* 
Navigation styles
*/

/* Navigation Element styles */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-size: cover;
    background-position: center;
}

/* 
Section Content styles
*/

/* Content section articles styles*/
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/* Content section articles attributes*/
.content-section-articles {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/* Content section articles image attributes*/
.content-section-articles img {
    max-height: 200px;
}
/* set image floating on the left  */
.float-left {
    float: left;
    margin-right: 25px;
}
/* set image floating on the right  */
.float-right {
    float: right;
    margin-left: 25px;
}

/* 
Aside styles
*/

/* Benefits aside sections attributes*/
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
/* Benefits Section Styles*/
.benefit-section {
    margin-bottom: 32px;
    color: #ffffff;
}
/* Benefits Image attributes*/
.benefit-section img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* 
Footer Styles 
*/
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* Typography CSS */

/* Links color */
a {
    color: #ffffff;
    text-decoration: none;
}
/* Paragraph font size */
p {
    font-size: 16px;
}

/* h1 styles */

/* Header h1 */
.header h1 {
    display: inline-block;
    font-size: 48px;
}
/* Header h1 ID Seo*/
.header h1 .seo {
    color: #d9dcd6;
}

/* h2 styles */

/* Content section articles h2 styles*/
.content-section-articles h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* Footer h2 styles*/
.footer h2 {
    font-size: 20px;
}

/* h3 styles */

.benefit-section h3 {
    margin-bottom: 10px;
    text-align: center;
}